# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.class

cancer_data_pipeline/SNV_caller/JointSNVMixToVcf
cancer_data_pipeline/SNV_caller/deepSNVToVcf
myPaths.sh
myPaths.R
sim_cancer/tools/Wessim_beta/temp/temp.fastq
sim_cancer/tools/Wessim_beta/temp/temp_1.fastq
sim_cancer/tools/Wessim_beta/temp/temp_1.fastq.gz
sim_cancer/tools/Wessim_beta/temp/temp_2.fastq
sim_cancer/tools/Wessim_beta/temp/temp_2.fastq.gz
sim_cancer/eval_vcf/select_true_alignment
sim_cancer/eval_vcf/filter_somatic_binom_test_JointSNVMix2
sim_cancer/eval_vcf/evaluate_vcf
sim_cancer/eval_vcf/test.cpp
sim_cancer/eval_vcf/test
cancer_data_pipeline/alignment/mmr_for_variant_calling
./test/
sim_cancer/simulate_WES_cancerSample/.nfs000000000048d57300000110
